.mealsList{
    /* position: absolute; */
    position: absolute;
    animation: moveUp 2s forwards;
    /* border: 2px solid red; */
    background-color: aliceblue;
    top: 28rem;
    width: 70%;
    margin-left: 14.5%;
    border-radius: 20px;
}

@keyframes moveUp {
    from {
        /* Starting position */
        transform: translateY(10%);
    }
    to {
        /* Ending position */
        transform: translateY(0);
    }
}

.listContainer{
    display: flex;
    /* border: 2px solid red; */
    padding: 0 1rem 0 1rem;
    justify-content: space-between;
    align-items: center;
}

.list{
    list-style-type: none;
  
}

.list li:nth-child(3){
    color: brown;
}

hr{
    width: 90%;
}

.mealForm{
    margin-right: 2rem;
}