.summery-container {
    /* for image overflow: ; */
    position: absolute;
    animation: moveUp 2s forwards;
    top: 12rem;
    left: 0;
    background-color: rgba(67, 59, 59, 1);

    width: 60%;
    height: 15rem;
    color: aliceblue;
    border-radius: 20px;
    margin-left: 20%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 1rem ;


}

@keyframes moveUp {
    from {
        /* Starting position */
        transform: translateY(10%);
    }
    to {
        /* Ending position */
        transform: translateY(0);
    }
}