.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, .75);
}


.cartContainer{
    position: relative;
    animation: moveCart 0.5s forwards;
    top: 30vh;
    left: 25%;
    border-radius: 25px;
    background-color:aliceblue;
    width: 50%;
    align-items: center;
}

@keyframes moveCart {
    from {
        /* Starting position */
        transform: translateY(0);
    }
    to {
        /* Ending position */
        transform: translateY(25%);
    }
}

.cartContainer p{
    padding: 0.25rem 1rem;
}

.totalPrice{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
}

.cartButtons{
    margin-left: 60%;
    background-color: aliceblue;
    border-radius: 25px;
}

.cartButtons button:nth-child(1){
    /* border: 2px solid red; */
    background-color: antiquewhite;
    color: black;
    justify-content: first baseline;
}

.cartButtons button:nth-child(1):hover{
    background-color: brown;
    color: aliceblue;
}